.resultBoard{
    font-size: 5em;
    font-weight: 500;
    color: black;
    margin: 0 auto;
    margin-bottom: 10px;
}

.fightResult{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 3em;
    height: 30%;
    font-weight: 600;
}

.fightResult.fightWin{
    color: #1f811f;
}

.fightResult.fightLost{
    color: #da0d12;
}

.fightResult.fightTie{
    color: #4b6d92;
}

.fightResult.fightNone{
    border-color: transparent;
    color: transparent;
}

.fightResultMessage {
    font-size: 2em;
    font-weight: 200;
    color: Black;
    margin: 0 auto;
    height: 70%;
    text-align: center;
}

.selection{
    height: 100%;
    width: 300px;
    overflow: hidden;
}

.selection.player{
}

.selection.opponent{
}

.championOptions {
    margin: 0 auto;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.championButton{
    font-size: 1.5em;
    min-width: 150px;
}

.border{
    border: solid black 2px;
}

.row{
    text-align: center;
    width: 100%;
}

.cell{
    display: inline-block;
    width: 30%;
    height: 100%;
    overflow: hidden;
}

.middle{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    min-height: 300px;
}
