<div class="row">
    <div class="resultBoard">
        0 : 1
    </div>
</div>
<div class="row">
    <div class="middle">
        <div class="cell">
            <div class="selection player">
                Rock
            </div>
        </div>
        <div class="cell">
                <div class="fightResult">
                    WIN
                </div>
                <div class="fightResultMessage">
                    Rock smashes scissors!
                </div>
        </div>
        <div class="cell">
            <div class="selection opponent">
                Scissors
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="championOptions">
        <button type="submit" class="btn-lg btn-dark btn btn-primary championButton">
            Rock
        </button>
        <button type="submit" class="btn-lg btn-dark btn btn-primary championButton">
            Paper
        </button>
        <button type="submit" class="btn-lg btn-dark btn btn-primary championButton">
            Scissors
        </button>
        <button type="submit" class="btn-lg btn-dark btn btn-primary championButton">
            Spock
        </button>
        <button type="submit" class="btn-lg btn-dark btn btn-primary championButton">
            Lizard
        </button>
    </div>
</div>
