<div class="row">
    <div class="col-md-2">
        <button type="submit" class="gameSelectionButton">
            <img src="../../content/images/Sudoku.png" width="100" alt="Sudoku submit" (click)="selectGame('Sudoku')"/>
        </button>
        <button type="submit" class="gameSelectionButton">
            <img src="../../content/images/RPSLS.png" width="100" alt="RPS submit" (click)="selectGame('RPS')"/>
        </button>
    </div>
    <div class="col-md-9" [ngSwitch]="selectedGame">
        <div *ngSwitchCase="'Sudoku'">
            <div class="alert alert-success">
                <jhi-sudoku-game></jhi-sudoku-game>
            </div>
        </div>
        <div *ngSwitchCase="'RPS'">
            <div class="alert alert-success">
                <jhi-rps-game></jhi-rps-game>
            </div>
        </div>
        <div *ngSwitchCase="'none'">
            <div class="alert alert-success text-center">
                <span>Select the game...</span>
            </div>
        </div>
    </div>
</div>
